<!DOCTYPE html>
<html data-bs-theme="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Random Quote Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container text-center">
      <h1 class="text-success"><br>Gerador de frases aleatórias</h1>
      <button type="submit" class="btn btn-primary" onclick="getTarefa()">Gerar</button>

      <br>

      <h3 class="text" id="frase"></h3>
    </div>
    <script src="/static/index.js"></script>
	</body>
</html>
